<div class="container">
	<div class="row"><!-- row -->
	            
	                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
	                <ul class="list-unstyled clear-margins"><!-- widgets -->
	                        
	                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
	                    
	                                <h1 class="title-widget">Useful links</h1>
	                                
	                                <ul>
	                                	<li><a  href="#"><i class="fa fa-angle-double-right"></i> POLYTECH NICE SOPHIA</a></li>
	                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> PROGRAMMATION WEB SERVER</a></li>
	                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> PROGRAMMATION WEB CLIENT</a></li>
	                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Peter SENDER</a></li>
	                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Michel BUFFET</a></li>
	                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> SUJECT GEOLOCALISATION</a></li>
	                                </ul>
	                    
								</li>
	                            
	                        </ul>
	                         
	                      
	                </div><!-- widgets column left end -->
	                
	                
	                
	                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
	            
	                <ul class="list-unstyled clear-margins"><!-- widgets -->
	                        
	                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
	                    
	                                <h1 class="title-widget">LIBS</h1>
	                                <h2 class="title-median">FRONTEND</h2>
	                                
	                                <ul>
	 									<li><a  href="#"><i class="fa fa-angle-double-right"></i>  AngularJS</a></li>
	                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  NodeJs</a></li>
	                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Bower</a></li>
	                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  BootStrap</a></li>
	                                </ul>

	                                <h2 class="title-median">BACKEND</h2>
	                                <ul>
	 									<li><a  href="#"><i class="fa fa-angle-double-right"></i>  NodeJS</a></li>
	 									<li><a  href="#"><i class="fa fa-angle-double-right"></i>  Mocha</a></li>
	 									<li><a  href="#"><i class="fa fa-angle-double-right"></i>  MongoDB</a></li>
	                                    
	                                </ul>
	                    
								</li>
	                            
	                        </ul>
	                         
	                      
	                </div><!-- widgets column left end -->
	                
	                
	                
	                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
	            
	                <ul class="list-unstyled clear-margins"><!-- widgets -->
	                        
	                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
	                    
	                                <h1 class="title-widget">WORK DIVISION</h1>

	                                <h2 class="title-median">FRONTEND</h2>
	                                
	                                <ul>
	 									<li><a  href="#"><i class="fa fa-angle-double-right"></i>  Feng DING</a></li>
	                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Zhengqin YAN</a></li>
	                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Kaiwen YU</a></li>
	                                </ul>

	                                <h2 class="title-median">BACKEND</h2>
	                                <ul>
	 									<li><a  href="#"><i class="fa fa-angle-double-right"></i>  Feng DING</a></li>
	 									<li><a  href="#"><i class="fa fa-angle-double-right"></i>  Thibaut Soriano</a></li>
	                                    
	                                </ul>
	                    
								</li>
	                            
	                        </ul>
	                         
	                      
	                </div><!-- widgets column left end -->
	                
	                
	                <div class="col-lg-3 col-md-3"><!-- widgets column center -->
	                
	                   
	                    
	                        <ul class="list-unstyled clear-margins"><!-- widgets -->
	                        
	                        	<li class="widget-container widget_recent_news"><!-- widgets list -->
	                    
	                                <h1 class="title-widget">Contact Detail </h1>
	                                
	                                <div class="footerp"> 
	                                
	                                <h2 class="title-median">POLYTECH NICE SOPHIA</h2>
	                                <p><b>Email Feng DING: </b></br> <a href="mailto:ding.feng.fr@gmail.com">ding.feng.fr@gmail.com</a></p>
	                                <p><b>Email Zhengqin YAN:</b></br> <a href="mailto:yan.zhengqin@gmail.com">yan.zhengqin@gmail.com</a></p>
	                                <p><b>Email Thiabaut SORIANO:</b></br> <a href="mailto:thibaut.soriano@gmail.com">thibaut.soriano@gmail.com</a></p>
	                                <p><b>Email Kaiwen YU:</b></br> <a href="mailto:yu.kaiwen@gmail.com">yu.kaiwen@gmail.com</a></p>
	                                
	                                </div>
	                                
	                                <div class="social-icons">
	                                
	                                	<ul class="nomargin">
	                                    
	                <a><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
		            <a><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
		            <a><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
		            <a><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
	                                    
	                                    </ul>
	                                </div>
	                    		</li>
	                          </ul>
	                       </div>
	                </div>
	</div>
	</footer>
	<!--header-->

	<div class="footer-bottom">

		<div class="container">

			<div class="row">

				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

					<div class="copyright">

						© 2017, Project Geoloc (Programation Web) 

					</div>

				</div>

				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

					<div class="design">

						 <p>FENG DING, THIBAUT SORIANO, ZHENGQIN YAN, KAIWEN YU</p>

					</div>

				</div>

			</div>

		</div>

	</div>
</div>