<div id="manageQuestion" class="row" ng-controller="manageQuestionController" ng-init="getAllQuestion()">
	<table>
		<thead>
			<tr>
				<th>Action</th>
				<th>id</th>
				<th>position<br />latitude</th>
				<th>position<br />longitude</th>
				<th>question</th>
				<th>type</th>
				<th>answers</th>
				<th>choices</th>
				<th>photoPath</th>
				<th>photo</th>
				<th>next<br />question</th>
				<th>Create<br />Date</th>
				<th>Last<br />modification<br />Date</th>
				<th>Comments</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="questions in allQuestion">
				<td>
					<a><i id="delete-question" class="fa fa-trash-o icon-question fa-lg" aria-hidden="true" ng-click="wantDeleteQuestion($index,true)"></i></a>
					<a><i id="overview-question" class="fa fa-eye icon-question fa-lg" aria-hidden="true"></i></a>
					<a><i id="modify-question" class="fa fa-pencil icon-question fa-lg" aria-hidden="true"></i></a>
					<br />
					<a><i id="modify-cancel" class="fa fa-times fa-lg" aria-hidden="true" ng-show="isModify[$index]" ng-click="wantDeleteQuestion($index,false)"></i></i></a>
					<a><i id="modify-confirm" class="fa fa-check fa-lg" aria-hidden="true" ng-show="isModify[$index]" ng-click="deleteQuestion(questions._id)"></i></i></a>
				</td>
				<td>{{questions._id}}</td>
				<td>{{questions.position.latitude}}</td>
				<td>{{questions.position.longitude}}</td>
				<td>{{questions.question}}</td>
				<td>{{questions.type}}</td>
				<td>
					<ul>
						<li ng-repeat="answer in questions.answers">{{answer}}</li>
					</ul>
				</td>
				<td>
					<ul>
						<li ng-repeat="choice in questions.choices">{{choice}}</li>
					</ul>
				</td>
				<td>{{questions.photo_path}}</td>
				<td><img ng-if="questions.photo_path" ng-src="http://localhost:8082/img/question/{{questions.photo_path}}"/></td>
				<td>{{questions.next_question}}</td>
				<td>{{questions.first_create_time}}</td>
				<td>{{questions.last_modified_time}}</td>
				<td>
					<ul>
						<li ng-repeat="comment in questions.comments">{{comment}}</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>


</div>