<div id="add-questions" class="container" ng-controller="addQuestionController">
	<div class="heading row">
	<!-- <h2>Add a Question</h2> -->
	<form name="addQuestion" class="addQuestionForm" ng-show="true" ng-submit="addQuestionToDB()">
	
		<!-- <div id="dropbox" class="dropbox" ng-class="dropClass"><span>{{dropText}}</span></div> -->
		<div class="row input-group input-group-lg">
			<span class="input-group-addon">id</span>
	        <input type="text" class="form-control" ng-model="id" placeholder="please input id of this question" ng-change="inputId()" required>
        </div>
        <div class="row input-group input-group-lg">
	        <span class="input-group-addon control-label">Position</span>
	        <input type="text" name="latitude" class="form-control" ng-model="latitude" placeholder="latitude" ng-change="inputLatitude()" required>
	        <input type="text" name="longitude" class="form-control" ng-model="longitude" placeholder="longitude" ng-change="inputLongitude()" required>
        </div>
        <div class="row input-group input-group-lg">
	        <span class="input-group-addon">Question</span>
	        <input type="text" class="form-control" ng-model="question" placeholder="input a question" ng-change="inputQuestion()" required>
        </div>
        <div class="row input-group input-group-lg">
	        <span class="input-group-addon">Question Type</span>
	        <select class="form-control" ng-model="type" ng-options="y.type for (x, y) in types" ng-change="inputType()" required></select>
	    </div>
	        <div ng-switch="type.type">
	        	<div class="row">
				    <div class="addcontend col-md-6" ng-hide="isEssay">
				    	<span class="form-control" ng-hide="isEssay" ng-click="addChoice()"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add a Choice</span>
				    	<!-- <span class="input-group-addon" ng-hide="isEssay">{{type.choicetitle}}</span> -->
				    	<div ng-repeat="choice in choicesInput">
				    		<table>
					    		<tr>
						    		<td><a ng-click="deleteChoice($index)"><i class="fa fa-trash-o icon-question fa-lg" aria-hidden="true"></i></a></td>
						       		<td><input id="choice-{{$index}}" class="input-{{$index}} form-control" ng-model="choice.value" ng-change="inputChoice($index)" placeholder="{{type.choicetitle}}" required/></td>
					       		</tr>
				       		</table>
				    	</div>
				    </div>
				  	<div class="col-md-6" ng-switch-when="multi-choice">
				      	<span class="form-control">{{type.answertitle}}</span>
				        <table>
				    		<tr ng-repeat="answer in choicesInput">
				      			<td>
				        			<input type="checkbox" ng-model="multianswersBoolean[$index]" ng-change="inputMultiAnswers($index)"/>
				      			</td>
				      			<td>
				        			<span class="form-control">{{answer.value}}</span>
				      			</td>
				    		</tr>
				  		</table>
				  	</div>
				  	<div class="col-md-6" ng-switch-when="single-choice">
				    	<span class="form-control">{{type.answertitle}}</span>
				        <table>
				    		<tr ng-repeat="answer in choicesInput">
				      			<td>
				        			<input type="radio" ng-model="singleanswersBoolean[$index]" ng-click="updateSelection($index,singleanswersBoolean)" />
				      			</td>
				      			<td>
				        			<span class="form-control">{{answer.value}}</span>
				      			</td>
				    		</tr>
				  		</table>
				  	</div>
				  	<div class="col-md-6 col-centered" ng-switch-when="essay">
				  		<span class="form-control" ng-click="addEssayAnswer()"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add a Answer</span>
				    	<!-- <span class="input-group-addon">{{type.answertitle}}</span> -->
				        <div class="addcontend">
				       		<div ng-repeat="answer in essayanswersInput">
			       				<table>
				       				<tr>
						       			<td><a ng-click="deleteEssayAnswer($index)"><i class="fa fa-trash-o icon-question fa-lg" aria-hidden="true"></i></a></td>
						         		<td><input id="answer-{{$index}}" class="input-{{$index}} form-control" ng-model="answer.value" ng-change="inputEssayAnswer($index)" placeholder="{{type.answertitle}}" /></td>
					         		</tr>
				         		</table>
				       		</div>
				      	</div>
				  	</div>
				  	<div class="col-md-6" ng-switch-default>
				  	</div>
			  	</div>
			</div>
		<!-- </div> -->

		<div class="row input-group input-group-lg">
			<span class="input-group-addon">Next Question</span>
			<input type="text" class="form-control" ng-model="next_question" placeholder="input id of the next question" ng-change="inputNextQuestion()" required>
        </div>
        <div class="row input-group input-group-lg">
	        <span class="input-group-addon">Question photo</span>
		    <input class="form-control" type="file" accept="image/*" ng-model-instant id="questionPhoto" onchange="angular.element(this).scope().uploadFile(this)" />
		    
		    <div ng-show="files.length">
		        <div>
		            <div class="percent">{{progress}}%</div>
		            <div class="progress-bar">
		                <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
		            </div>
		        </div>
		    </div>
	    </div>

	    <div class="row input-group input-group-lg" id="info">
		    <span class="input-group-addon">Question Info Display</span>
		    <pre>{{questionInfo | json}}</pre>
			<br/>
		</div>
        <input type="submit" value="Valide Question Input" class="float button">
        <pre id="errorSpanForAddQuestion" ng-if="errorSpan">{{errorSpan}}</pre>
    </form>
    </div>
</div>