#add-questions table { border-collapse: collapse; }
#add-questions .percent {
    position: absolute; width: 300px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white;
}
#add-questions .progress-bar {
    width: 300px; height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}
#add-questions .uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}

#add-questions .container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#add-questions  #errorSpanForAddQuestion{
  background-color: #ff0000;
  color: #ffffff;
  border: 1px solid #8B0000;
}

/*.dropbox {
    width: 15em;
    height: 3em;
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 2em;
    font-family: Arial, sans-serif;
}
.dropbox span {
    margin-top: 0.9em;
    display: block;
}
.dropbox.not-available {
    background-color: #F88;
}
.dropbox.over {
    background-color: #bfb;
}*/

* {
  margin: 0;
  padding: 0;
}

html {
  /*background: url(https://dl.dropboxusercontent.com/u/159328383/background.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: transparent;
}

body, input, button {
  font-family: 'Source Sans Pro', sans-serif;
}



#add-questions {
  padding: 15px;
  width: 60%;
  min-height: 400px;
  margin: 2% auto 0 auto;
}
#add-questions .heading {
  text-align: center;
  margin-top: 1%;
}
#add-questions .heading h2 {
  font-size: 2.5em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding-bottom: 5px;
  text-shadow: 1px 1px 3px #23203b;
}
#add-questions form .input-group {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#add-questions form .input-group:last-of-type {
  border-top: none;
}
#add-questions form .input-group span {
  background: transparent;
  min-width: 53px;
  border: none;
}
#add-questions form .input-group span i {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.2);
}
/*#add-questions form input.form-control {
  display: block;
  width: auto;
  height: auto;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  border-radius: 0px;
  border: 1px solid blue;
  padding: 10px;
  font-size: 1em;
  width: 100%;
  background: transparent;
  color: #c2b8b1;
}
#add-questions form input.form-control:focus {
  border: none;
}*/
/*#add-questions form .input-group-addon{
  width: 200px;
}*/
#add-questions form .button {
  margin-top: 20px;
  background: #27AE60;
  border: none;
  font-size: 1.6em;
  font-weight: 300;
  padding: 5px 0;
  width: 100%;
  border-radius: 3px;
  color: #b3eecc;
  border-bottom: 4px solid #1e8449;
}
#add-questions form button:hover {
  background: #30b166;
  -webkit-animation: hop 1s;
  animation: hop 1s;
}

#add-questions .float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}

#add-questions .float:hover, .float:focus, .float:active {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

#add-questions .fa{
    color:red;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #add-questions {
    width: 60%;
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 1100px) {
  #add-questions {
    margin-top: 2%;
    width: 60%;
    font-size: 1.2em;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #add-questions {
    margin-top: 1%;
    width: 550px;
    font-size: 1.2em;
    min-height: 0;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #add-questions {
    margin-top: 0;
    width: 80%;
    font-size: 0.8em;
    min-height: 0;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #add-questions {
    margin-top: 0;
    width: 100%;
    font-size: 0.5em;
    min-height: 0;
  }
  #add-questions h2 {
    margin-top: 0;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  #add-questions {
    margin-top: 0;
    width: 100%;
    font-size: 0.2em;
    min-height: 0;
  }
}
