<div class="container" ng-controller="mapController as mctrl" ng-init="initPage" id="playMap">
    <div ng-show="showMap" class="row" id="playMap-row">
        <div class="col-md-12" id="playMap-container">
            <ng-map ng-class="map_style" zoom="{{map_zoom}}" center="[{{center_lat}}, {{center_lon}}]" tilt="45" map-type-id="{{mapTypeId}}">
                <marker position="[{{marker_lat}}, {{marker_lon}}]" animation="DROP" on-click="mctrl.click()"/>
            </ng-map>

            <!-- Modal -->
            <modal question-modal id="question-modal" visible="showModal">
                <div class="sidenav">
                        <!-- QUESTIONS  -->
                        <h5><span class="label label-success" id="oneQuestionType">{{ question_type }}</span></h5><br>
                        <br>
                        <!-- Type: essay -->
                        <form ng-show="question_type == 'essay'">
                            <div class="input-group">
                                <span class="input-group-addon">Answer:</span>
                                <input id="msg" type="text" ng-model="mctrl.userAnswer" class="form-control" placeholder="Write here...">
                            </div>
                            <button type="submit" class="btn btn-success" ng-click="mctrl.submitAnswer()">Submit</button>
                        </form>
                        <!-- Type: single choice -->
                        <form ng-show="question_type == 'single-choice'">
                            <div>
                                <label class="radio-inline" ng-repeat="choice in choices">
                                    <label><input type="radio" ng-model="mctrl.userAnswer" ng-value="choice">{{choice}}</label>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-success" ng-click="mctrl.submitAnswer()">Submit</button>
                        </form>
                        <!-- Type: multi choices -->
                        <form ng-show="question_type == 'multi-choice'">
                            <div>
                                <label class="checkbox-inline" ng-repeat="choice in choices">
                                    <label><input type="checkbox" ng-model="choice[1]">{{choice[0]}}</label>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-success" ng-click="mctrl.submitAnswer()">Submit</button>
                        </form>

                        <!-- Comments -->
<!--                        <div class="comments-area" ng-if='oneQuestion.hasComments'>
                            <p><span class="badge">2</span> Comments:</p>
                            <ul class="list-group">
                                <li class="list-group-item"  ng-repeat='comments in oneQuestion.comments'>
                                    <h4>{{comments._id}}</h4>
                                    <p>{{comments.text}}</p>
                                </li>
                            </ul>
                        </div>
                        <hr>-->

                        <!-- Leave a Comment: -->
                        <h4>Leave a Comment:</h4>
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                        <br><br>

                </div>
            </modal>
        </div>
    </div>
</div>