#step1 {
    color: darkred;
}
#step2 {
    display: none;
}

#playMap {
	height: 100%;
	margin-top: 50px;
}

#playMap-row {
	height: 100%;
}

#playMap-container {
	height: 100%;
}

ng-map {
	height: 100%;
}

.map-fullscreen {
	width: 100%;
	height: 100%;
}

.map-sidescreen {
	width: 50%
}


#question-modal {
	left: 50%;
	width: 50%;
	height: 100%;
	outline: auto;
	overflow: auto;
}

.modal {
	height: 100%;
	width: 100%;
}

.modal-dialog {
	height: 100%;
	width: 100%;
}

.modal-content {
	top: -5%;
	height: 100%;
	overflow: auto;
}

.question-container {
	height: 100%;
	overflow: auto;
}

.comments-overview-container {
	height: 100%;
	overflow: auto;
}

.btn-floating {
	margin: 5px;
	font-weight: bold;
}

.btn-inner-icon {
	margin-top: 7px;
}

/* On small screens*/
@media only screen and (max-width: 1000px) {
	.map-sidescreen {
		height: 50%;
		width: 100%;
	}
	.modal-content {
		top: 0%;
	}
	#question-modal {
		left: 0%;
		top: 50%;
		width: 100%;
	}
}