<div class="container" ng-controller="mapController as mctrl" ng-init="initPage" id="playMap">
    <div ng-show="showMap" class="row" id="playMap-row">
        <div class="col-md-12" id="playMap-container">
            <ng-map ng-class="map_style" zoom="{{map_zoom}}" center="[{{center_lat}}, {{center_lon}}]" tilt="45" map-type-id="{{mapTypeId}}">
                <marker position="[{{marker_lat}}, {{marker_lon}}]" animation="DROP" on-click="mctrl.click()"/>
            </ng-map>

            <!-- Modal -->
            <modal question-modal id="question-modal" visible="showModal">
                <div ng-show="!showCommentsPanel" class="question-container w3-animate-bottom">
                        <!-- QUESTIONS  -->
                        <h5><span class="label label-success" id="oneQuestionType">{{ question_type }}</span></h5><br>
                        <br>
                        <!-- Type: essay -->
                        <form ng-show="question_type == 'essay'">
                            <div class="input-group">
                                <span class="input-group-addon">Answer:</span>
                                <input id="msg" type="text" ng-model="mctrl.userAnswer" class="form-control" placeholder="Write here...">
                            </div>
                            <md-button type="submit" class="md-raised md-primary" ng-click="mctrl.submitAnswer()">Submit</md-button>
                        </form>
                        <!-- Type: single choice -->
                        <form ng-show="question_type == 'single-choice'">
                            <div>
                                <label class="radio-inline" ng-repeat="choice in choices">
                                    <label><input type="radio" ng-model="mctrl.userAnswer" ng-value="choice">{{choice}}</label>
                                </label>
                            </div>
                            <md-button type="submit" class="md-raised md-primary" ng-click="mctrl.submitAnswer()">Submit</md-button>
                        </form>
                        <!-- Type: multi choices -->
                        <form ng-show="question_type == 'multi-choice'">
                            <div>
                                <label class="checkbox-inline" ng-repeat="choice in choices">
                                    <label><input type="checkbox" ng-model="choice[1]">{{choice[0]}}</label>
                                </label>
                            </div>
                            <md-button type="submit" class="md-raised md-primary" ng-click="mctrl.submitAnswer()">Submit</md-button>
                        </form>
                    <!-- COMMENTS OVERVIEW -->
                    <div class="comments-overview-container w3-container w3-content w3-animate-bottom">
                        <h3>Comments</h3>
                        <div ng-repeat="comment in current_question.comments" class="w3-panel w3-white w3-card-2 w3-display-container w3-hover-shadow">
                            <p class="w3-text-blue"><b>User {{comment.user_id}}</b></p>
                            <p>{{comment.text}}</p>
                        </div>
                        <button class="w3-btn-block w3-teal" ng-click="mctrl.toggleCommentsPanel()">Go to Comments Panel</button>
                    </div>
                </div>
                <!-- COMMENTS PANEL -->
                <div ng-show="showCommentsPanel" class="comments-detail-container w3-container w3-content w3-animate-zoom">
                    <h3>Comments</h3>
                    <span class="w3-display-topright w3-padding w3-hover-red" ng-click="mctrl.toggleCommentsPanel()">Back</span>
                    <div ng-repeat="comment in current_question.comments" class="w3-panel w3-white w3-card-2 w3-display-container w3-hover-shadow">
                        <p class="w3-text-blue"><b>User {{comment.user_id}}</b></p>
                        <p>{{comment.text}}</p>
                        <a class="w3-btn-floating w3-teal w3-display-right"><i class="glyphicon glyphicon-thumbs-up"></i></a>
                    </div>
                </div>

                        <!-- Comments -->
<!--                        <div class="comments-area" ng-if='oneQuestion.hasComments'>
                            <p><span class="badge">2</span> Comments:</p>
                            <ul class="list-group">
                                <li class="list-group-item"  ng-repeat='comments in oneQuestion.comments'>
                                    <h4>{{comments._id}}</h4>
                                    <p>{{comments.text}}</p>
                                </li>
                            </ul>
                        </div>
                        <hr>-->

                        <!-- Leave a Comment: -->
<!--                        <h4>Leave a Comment:</h4>
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>-->

            </modal>
        </div>
    </div>
</div>