#step1 {
    color: darkred;
}
#step2 {
    display: none;
}

#playMap {
	height: 100%;
	margin-top: 50px;
}

#playMap-row {
	height: 100%;
}

#playMap-container {
	height: 100%;
}

.main-panel {
	height: 85%;
}

.side-nav {
	height: 85%;
}

.map-card {
	height: 100%;
}

.map-container {
	height: 100%;
}

.question-card {
	height: 100%;
}

.question-container {
	height: 100%;
	overflow: auto;
}

.comment-card {
	height: 100%;
}

.comments-container {
	height: 100%;
	overflow: auto;
}

.comment-container {
    margin: 5px;
}

.icon-container {
	height: 30%;
	min-height: 100px;
	width: auto;
	background-color: white;
	margin-left: 50px;
	margin-bottom: 5%;
}

.icon {
	display: block;
	height: 100%;
	width: auto;
}

ng-map {
	height: 100%;
}

.map-fullscreen {
	width: 100%;
	height: 100%;
}

.map-nodisplay {
	display: none;
}


#question-modal {
	width: 100%;
	height: 100%;
	outline: auto;
	overflow: auto;
}

.map-detail-container {
	height: 100%;
}

.map-detail {
	width: 100%;
	height: 100%;
}

.comments-overview-container {
	height: 100%;
	text-align: center;
	overflow: auto;
}

.btn-floating {
	margin: 4px;
}

#comment-smile-container {
	width: 30%;
	min-width: 150px;
	margin-left: auto;
	margin-right: auto;
}
#comment-smile {
	display: block;
	height: 100%;
	margin: 10px;
}

#leave-comment {
	width: 400px;
}

#comment-button {
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#previewPhoto{
	max-width: 200px;
	max-height: 200px;
}

/* On small screens*/
@media only screen and (max-width: 800px) {
	#playMap {
		margin-top: 15px;
	}
	.side-nav {
		height: 10%;
	}
	.main-panel {
		height: 90%;
	}
	.icon-container {
		display: inline-block;
		height: 90%;
		min-height: 50px;
		margin-left: 120px;
	}
	.w3-round-xxlarge {
		border-radius: 10px !important;
	}
}

/* On small screens*/
@media only screen and (max-width: 450px) {
    #playMap {
        margin-top: 15px;
    }
    .side-nav {
        height: 10%;
    }
    .main-panel {
        height: 90%;
    }
    .icon-container {
        display: inline-block;
        height: 90%;
		min-height: 30px;
		margin-left: 45px;
    }
    .w3-round-xxlarge {
        border-radius: 4px !important;
    }
}

/* On extra small screen */
@media only screen and (max-width: 350px) {
	#playMap {
		margin-top: 15px;
	}
	.side-nav {
		height: 10%;
	}
	.main-panel {
		height: 90%;
	}
	.icon-container {
		display: inline-block;
		height: 90%;
		min-height: 30px;
		margin-left: 35px;
	}
	.w3-round-xxlarge {
		border-radius: 4px !important;
	}
}