<div id="manageUser" class="container" ng-controller="manageUserController" ng-init="getAllUser()">
	<div class="row">
		<div class="col-md-12 tableArray centered">
			<table ng-table="manageUserTable" class="table table-condensed table-bordered table-striped" show-filter="true">
				<!-- <thead>
					<tr>
						<th>Action</th>
						<th>id</th>
						<th>name</th>
						<th>password</th>
						<th>user<br />type</th>>
						<th>photoPath</th>
						<th>photo</th>
						<th>question<br />step</th>
						<th>Create<br />Date</th>
						<th>Last<br />modification<br />Date</th>
						<th>current<br />chance</th>
					</tr>
				</thead>
				<tbody> -->
					<tr ng-repeat="users in $data">
						<!-- <td>
							<a><i id="delete-user" class="fa fa-trash-o icon-user fa-lg" aria-hidden="true" ng-click="wantDeleteUser($index,true)"></i></a>
							<a><i id="overview-user" class="fa fa-eye icon-user fa-lg" aria-hidden="true"></i></a>
							<a><i id="modify-user" class="fa fa-pencil icon-user fa-lg" aria-hidden="true"></i></a>
							<br />
							<a><i id="modify-cancel" class="fa fa-times fa-lg" aria-hidden="true" ng-show="isModify[$index]" ng-click="wantDeleteUser($index,false)"></i></i></a>
							<a><i id="modify-confirm" class="fa fa-check fa-lg" aria-hidden="true" ng-show="isModify[$index]" ng-click="deleteUser(users._id)"></i></i></a>
						</td> -->
						<td data-title="'ACTION'">
			            	<button class="btn btn-primary btn-sm" ng-click="deleteUser(users._id)" ng-if="isDelete[$index]"><span class="glyphicon glyphicon-ok"></span></button>
			            	<button class="btn btn-default btn-sm" ng-click="isDelete[$index] = false" ng-if="isDelete[$index]"><span class="glyphicon glyphicon-remove"></span></button>
			            	<button class="btn btn-danger btn-sm" ng-click="isDelete[$index] = true" ng-if="!isDelete[$index]"><span class="glyphicon glyphicon-trash"></span></button>
			          	</td>
						<td data-title="'ID'" sortable="'_id'" filter="{_id:'text'}">{{users._id}}</td>
						<td data-title="'NAME'" sortable="'name'" filter="{name:'text'}">{{users.name}}</td>
						<td data-title="'PASSWORD'" sortable="'password'" filter="{password:'text'}">{{users.password}}</td>
						<td data-title="'USER_TYPE'" sortable="'user_type'" filter="{user_type:'text'}">{{users.user_type}}</td>
						<td data-title="'PHOTO_PATH'" sortable="'photo_path'" filter="{photo_path:'text'}">{{users.photo_path}}</td>
						<td data-title="'PHOTO_OVERVIEW'"><img ng-if="users.photo_path" ng-src="{{serverUrl}}:8082/img/user/{{users.photo_path}}"/></td>
						<td data-title="'QUESTION_STEP'" sortable="'question_step'" filter="{question_step:'text'}">{{users.question_step}}</td>
						<td data-title="'CREATE_TIME'" sortable="'first_create_time'" filter="{first_create_time:'text'}">{{users.first_create_time}}</td>
						<td data-title="'LAST_MODIFICATION_DATE'" sortable="'last_modified_time'" filter="{last_modified_time:'text'}">{{users.last_modified_time}}</td>
						<td data-title="'CURRENT_CHANCE'" sortable="'current_chance'" filter="{current_chance:'number'}">{{users.current_chance}}</td>
					</tr>
				<!-- </tbody> -->
			</table>
		</div>
	</div>
</div>