<!DOCTYPE html>
<html ng-app="geolocApp">
<head>
<meta charset="ISO-8859-1">
<title>Simple Map</title>
<link rel="stylesheet" href="map.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3"></script>
<script type="text/javascript" src="mapController.js"></script>
</head>
<body>
<div ng-controller="MapCtrl">
    <div id="map"></div>
<!--
    <div id="repeat" ng-repeat="marker in markers | orderBy : 'questionTitle'">
         <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
         <label id="names" >{{marker.questionTitle}}</label></a>
    </div>
-->
    <br>
    <div id="repeat" ng-repeat="question in questions">
        <button id="country_container" ng-click="createMarkerForOneQuestion($event, question)">{{question}}</button>
    </div>
</div>
</body>
</html>