/* For the "inset" look only */
html {
    /*overflow: hidden;*/
    height:100%;
}

body{
    height: 100%;
}

div.ng-scope{
    /*margin-top: 50px;*/
    height:90%;
}

div#mainWindow{
    padding-top: 60px;
}

#phoneImage{
    margin-top: -10px;
}

.jumbotron{
    height :1000px;
    background-image: url("../resources/images/homepage-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#phoneImage img{
    height :400px;
}

.navbar{
	margin-bottom: 0px !important;
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 10;
	/*margin-top: 15px !important;*/
}

/* Let's get this party started */
 ::-webkit-scrollbar {
    width: 12px;  /* for vertical scrollbars */
    height: 6px; /* for horizontal scrollbars */
}
 
/* Track */
 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: grey; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
 ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

